:root {
  --bs-body-font-family: helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-container {
  max-width: 1440px;
  margin: auto;
}

.jumbotron {
  background-image: linear-gradient(to top, #f1f3ff, #ffffff);
  overflow: hidden;
  height: 520px;
}

.car-img-section {
  position: absolute;
  bottom: 0;
  right: 0;
}

.main-content {
  margin-top: 140px;
}

.btn-success {
  background-color: #5cb85f !important;
  border-color: #5cb85f !important;
}

.btn-success:hover {
  background-color: #4fa452 !important;
}

.custom-list-style-image {
  margin-left: -30px;
}

.custom-list-style-image li {
  background: url(https://i.ibb.co/g7wdDYZ/check-list.png) no-repeat left center;
  list-style: none;
  margin: 0;
  vertical-align: middle;
  padding-left: 40px;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}

.carousel-cell {
  width: 60%;
  margin: 0 20px;
}

.carousel-cell .fs-6 {
  font-size: 12px !important;
}

.bg-primary {
  background-color: #0d28a6 !important;
}

.flickity-prev-next-button {
  margin-top: 240px;
  border: 1px solid !important;
  transition: 0.3s;
  margin-right: 45%;
  margin-left: 45%;
}

.flickity-prev-next-button:hover {
  background: #5cb85f !important;
  border: 1px transparent;
}

.flickity-prev-next-button:hover .flickity-button-icon {
  fill: white;
}

#start {
  margin-top: 200px;
}

.carousel .carousel-cell figure img {
  width: 130px;
}

.carousel .carousel-cell figcaption img {
  width: 120px;
}

.carousel .carousel-cell figcaption blockquote {
  font-size: 16px;
}

.fs-h2-another-section {
  font-size: 36px;
}

.another-section {
  margin-bottom: 75px;
}

#our-services,
.why-us-title,
#why-us .row .col,
.testimonial-title,
.carousel,
.another-section {
  opacity: 0;
  transform: translateY(-50px);
  transition: .7s;
}

#faq .faq-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: .7s;
}

#faq .faq-right {
  opacity: 0;
  transform: translateX(50px);
  transition: .7s;
}

footer.container {
  opacity: 0;
  transform: translateY(50px);
  transition: .7s; 
  margin-top: 100px;
}

#our-services.op-100,
.why-us-title.op-100,
#why-us .row .col.op-100,
.testimonial-title.op-100,
.carousel.op-100,
.another-section.op-100,
#faq .faq-left.op-100,
#faq .faq-right.op-100,
footer.container.op-100 {
  opacity: 1;
  transform: translate(0, 0);
}

@media (min-width: 1400px) and (max-width: 1440px) {
  .flickity-prev-next-button {
    margin-top: 230px;
    border: 1px solid;
    transition: 0.3s;
    margin-right: 45%;
    margin-left: 45%;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .flickity-prev-next-button {
    margin-top: 220px;
    border: 1px solid;
    transition: 0.3s;
    margin-right: 45%;
    margin-left: 45%;
  }

  .carousel-cell {
    width: 50%;
    margin: 0 15px;
  }

  .main-content figcaption h1 {
    font-size: 2em;
  }

  .car-img-section {
    width: 53%;
  }

  .jumbotron {
    height: 530px;
  }

  .main-content {
    margin-top: 150px;
  }
}

@media (max-width: 1199px) {
  .flickity-prev-next-button {
    margin-top: 280px;
    border: 1px solid;
    margin-right: 44%;
    margin-left: 44%;
  }

  .carousel-cell {
    width: 50%;
    margin: 0 15px;
  }

  .car-img-section {
    width: 95%;
  }

  .jumbotron {
    height: 1050px;
  }

  .main-content {
    margin-top: 100px;
  }
}

@media (max-width: 1050px) {
  .flickity-prev-next-button {
    margin-top: 270px;
    margin-right: 43%;
    margin-left: 43%;
  }

  .carousel-cell {
    width: 50%;
    margin: 0 15px;
  }

  .jumbotron {
    height: 940px;
  }
}

@media (max-width: 992px) {
  .fs-h2-another-section {
    font-size: 24px;
  }

  .another-section {
    margin-top: 150px !important;
    margin-bottom: 75px !important;
  }
}

@media (max-width: 913px) {
  .flickity-prev-next-button {
    margin-top: 290px;
    border: 1px solid;
    transition: 0.3s;
    margin-right: 42%;
    margin-left: 42%;
  }

  .jumbotron {
    height: 870px;
  }
}

@media (max-width: 799px) {
  #testimonial > h3 {
    font-size: 1.4em;
  }

  #testimonial > p {
    font-size: 0.9em;
  }

  .carousel-cell {
    width: 60%;
  }

  .carousel .carousel-cell figure img {
    width: 100px !important;
  }

  .carousel .carousel-cell figcaption img {
    width: 90px !important;
  }

  .carousel .carousel-cell figcaption blockquote {
    font-size: 14px !important;
  }

  .carousel .carousel-cell figcaption h6 {
    font-size: 15px !important;
  }

  .flickity-prev-next-button {
    margin-top: 240px;
    border: 1px solid;
    transition: 0.3s;
    margin-right: 41.5%;
    margin-left: 41.5%;
    width: 35px;
    height: 35px;
  }

  .jumbotron {
    height: 880px;
  }
}

@media (max-width: 768px) {
  .car-img-section {
    width: 85%;
  }

  .jumbotron {
    height: 750px;
  }

  .main-content {
    margin-top: 80px;
  }
}

@media (max-width: 650px) {
  .carousel-cell {
    width: 510px;
    margin: 0 50px;
    background: #f1f3ff;
    border-radius: 5px;
    counter-increment: carousel-cell;
  }

  .flickity-prev-next-button {
    margin-top: 230px;
    border: 1px solid;
    transition: 0.3s;
    margin-right: 40%;
    margin-left: 40%;
  }

  .car-img-section {
    width: 90%;
  }

  .jumbotron {
    height: 700px;
  }
}

@media (max-width: 575px) {
  .carousel-cell {
    width: 100%;
  }

  .flickity-prev-next-button {
    margin-top: 220px;
    margin-right: 38.5%;
    margin-left: 38.5%;
  }

  .car-img-section {
    width: 98%;
  }

  .jumbotron {
    height: 680px;
  }
}

@media (max-width: 435px) {
  .flickity-prev-next-button {
    margin-top: 230px;
    margin-right: 35%;
    margin-left: 35%;
  }

  .jumbotron {
    height: 680px;
  }
  
}

@media (max-width: 360px) {
  .flickity-prev-next-button {
    margin-top: 240px;
    margin-right: 32%;
    margin-left: 32%;
  }

  .jumbotron {
    height: 700px;
  }
}