:root {
  --bs-body-font-family: helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-container {
  max-width: 1440px;
  margin: auto;
}

.jumbotron {
  background-image: linear-gradient(to top, #f1f3ff, #ffffff);
  overflow: hidden;
  height: 520px;
}

.car-img-section {
  position: absolute;
  bottom: 0;
  right: 0;
}

.main-content {
  margin-top: 140px;
}

.btn-success {
  background-color: #5cb85f !important;
  border-color: #5cb85f !important;
}

.btn-success:hover {
  background-color: #4fa452 !important;
}

.custom-list-style-image {
  margin-left: -30px;
}

.custom-list-style-image li {
  background: url(https://i.ibb.co/g7wdDYZ/check-list.png) no-repeat left center;
  list-style: none;
  margin: 0;
  vertical-align: middle;
  padding-left: 40px;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}

.carousel-cell {
  width: 50%;
  margin: 0 20px;
}

.carousel-cell .fs-6 {
  font-size: 12px !important;
}

.bg-primary {
  background-color: #0d28a6 !important;
}

.flickity-prev-next-button {
  border: 5px solid;
}

.flickity-prev-next-button:hover {
  background: #5cb85f;
  border: 1px transparent;
}

.flickity-prev-next-button:hover .flickity-button-icon {
  fill: white;
}

#start {
  margin-top: 200px;
}

@media (min-width: 1440px) {
  .flickity-prev-next-button {
    margin-top: 230px;
    border: 1px solid;
    transition: 0.3s;
    margin-right: 45%;
    margin-left: 45%;
  }
}

@media (min-width: 1400px) and (max-width: 1440px) {
  .flickity-prev-next-button {
    margin-top: 250px;
    border: 1px solid;
    transition: 0.3s;
    margin-right: 44%;
    margin-left: 44%;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .flickity-prev-next-button {
    margin-top: 300px;
    border: 1px solid;
    transition: 0.3s;
    margin-right: 44%;
    margin-left: 44%;
  }
}

@media (max-width: 991px) {
  .flickity-prev-next-button {
    margin-top: 280px;
    border: 1px solid;
    transition: 0.3s;
    margin-right: 42%;
    margin-left: 42%;
  }
}

@media (max-width: 799px) {
  .flickity-prev-next-button {
    margin-top: 290px;
    border: 1px solid;
    transition: 0.3s;
    margin-right: 38%;
    margin-left: 38%;
  }

  .jumbotron {
    min-height: 900px;
  }
}

@media (min-width: 360px) and (max-width: 599px) {
  .carousel-cell {
    width: 100%;
    margin: 0 50px;
    background: #f1f3ff;
    border-radius: 5px;
    counter-increment: carousel-cell;
  }

  .flickity-prev-next-button {
    margin-top: 330px;
    border: 1px solid;
    transition: 0.3s;
    margin-right: 35%;
    margin-left: 35%;
  }

  .car-img-section {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1440px) {
  .car-img-section {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
  }

  .jumbotron {
    min-height: 520px;
  }

  .main-content {
    margin-top: 160px;
  }

  .carousel-cell {
    width: 50%;
    margin: 0 50px;
    background: #f1f3ff;
    border-radius: 5px;
    counter-increment: carousel-cell;
  }

  #start {
    margin-top: 200px;
  }
}
